@import '../../_variables.scss';

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $navbar-bg-color;
    padding: 16px;
    z-index: 10;

    @include screen_size(large) {
        flex-direction: row;
        justify-content: space-between;
    }

    &-brand {
        color: $navbar-link-color;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;

        @include screen_size(large) {
            margin-bottom: 0px;
        }
    }

    &-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        .navbar-item {
            margin-left: 16px;

            .navbar-link {
                color: $navbar-link-color;
                text-decoration: none;
                font-size: 16px;
                padding: 8px 16px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $navbar-link-hover-bg-color;
                    border-radius: 5px;
                }

                &--active {
                    color: $navbar-active-link-color;
                }
            }

            .navbar-lang {
                color: $navbar-link-color;
                cursor: pointer;

                &--active {
                    color: $navbar-active-link-color;
                }

                &:last-child {
                    margin-right: 20px;
                }
            }
        }
    }
}
