$navbar-bg-color: #333;
$navbar-link-color: #fff;
$navbar-active-link-color: #f0fe4f;
$navbar-link-hover-bg-color: #555;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-bg-color;
    padding: 1rem;

    .navbar-brand {
        color: $navbar-link-color;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .navbar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        .navbar-item {
            margin-left: 1rem;

            .navbar-link {
                color: $navbar-link-color;
                text-decoration: none;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $navbar-link-hover-bg-color;
                    border-radius: 5px;
                }
            }

            .navbar-link.active {
                color: $navbar-active-link-color;
            }
        }
    }
}
