@import '../../_variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-bg-color;
    padding: 16px;

    &-brand {
        color: $navbar-link-color;
        font-size: 24px;
        font-weight: bold;
    }

    &-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        .navbar-item {
            margin-left: 16px;

            .navbar-link {
                color: $navbar-link-color;
                text-decoration: none;
                font-size: 16px;
                padding: 8px 16px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $navbar-link-hover-bg-color;
                    border-radius: 5px;
                }
            }

            .navbar-link.active {
                color: $navbar-active-link-color;
            }
        }
    }
}
