@import '../_variables.scss';

.elements-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elements-grid {
    display: grid;
    grid-template-columns: repeat(
        $elements-list-column-num,
        $elements-list-grid-size
    );
    gap: $elements-list-grid-gap $elements-list-grid-gap;

    &-shadow {
        width: $elements-list-grid-size;
        height: $elements-list-grid-size;
    }
}

.elements-loader {
    margin: 10px 0px;
}

.scroll-to-top {
    position: fixed;
    bottom: 16px;
    right: 16px;
}
