@import '../../_variables.scss';

.elements-grid {
    display: grid;
    grid-template-columns: repeat(
        $elements-list-column-num,
        $elements-list-grid-size
    );
    gap: $elements-list-grid-gap $elements-list-grid-gap;

    &-shadow {
        width: $elements-list-grid-size;
        height: $elements-list-grid-size;
    }
}
